<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hello.mapper.CardBOMapper">
    <resultMap id="BaseResultMap" type="com.example.hello.po.UserBO">
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="card_id" jdbcType="VARCHAR" property="cardId" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="role" jdbcType="VARCHAR" property="role" />
    </resultMap>
    <sql id="Base_Column_List" >
        user_id, card_id, id_card, role
    </sql>

    <update id="openCard" parameterType="com.example.hello.po.UserBO">
        update user set card_id = #{cardId} where user_id = #{userId};
    </update>

    <update id="cancelCard" parameterType="int">
        update user set card_id = null where user_id = #{userId}
                                         and balance = 0 and card_id is not null ;
    </update>

</mapper>