<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.UserMapper">

    <!--
    <select id="getAllUser" resultType="com.example.hello.po.User">
        select user AS user,password AS password from user where id = #{id}
    </select>
    -->
    <select id="getBalanceByCardId" resultType="BigDecimal">
        select balance from user where card_id = #{cardId};
    </select>
    
    <update id="updateBalanceByCardId">
        update user set balance = #{newBalance} where card_id = #{cardId};
    </update>

    <select id="existByCardId" resultType="Integer">
        select count(*) from user where card_id = #{cardId};
    </select>

    <update id="reduceBalanceByCardId">
        update user set balance = balance - #{money} where card_id = #{cardId};
    </update>

    <update id="addBalanceByCardId">
        update user set balance = balance + #{money} where card_id = #{cardId};
    </update>
</mapper>
