<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hello.mapper.UserBOMapper">
    <resultMap id="BaseResultMap" type="com.example.hello.po.UserBO">
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="card_id" jdbcType="VARCHAR" property="cardId" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    </resultMap>
    <sql id="Base_Column_List" >
        user_id, card_id, id_card
    </sql>

    <select id="getUserInfo" resultMap="BaseResultMap" parameterType="int">
        select <include refid="Base_Column_List"/>
        from user where user_id = #{id}
    </select>

</mapper>